@import 'variables';
// _sponsor.scss colors
$card-color: white;
$text-color: rgba(0,0,0,0.6);
$little-box-shadow-color: rgba(0,0,0,0.2);
$box-shadow-color: rgba(0,0,0,0.75);

.partners-card {
    display: inline;
    box-shadow: 0px 7px 46px -9px $box-shadow-color;
    transition: 0.5s;
    padding: 15px;
    position: relative;
    height: 25vh;
    border-radius: 5px;
    background: $card-color;

    &__logo{
        display: block;
        margin: auto;
        max-width: 90%;
        max-height: 90%;
    }

    &__text{
        position: absolute;
        bottom: 15px;
        right:15px;
        left:15px;
        color: $text-color;        
    }

    @media #{$information-reponsive} {
        box-shadow: 0px 7px 46px -9px $little-box-shadow-color;
        height: 20vh;
    }

    @media only screen and (max-width: 1200px) {
        box-shadow: 0px 7px 46px -9px $little-box-shadow-color;
        height: 20vh;
    }
}

.partners-card:hover {
    box-shadow: 0px 7px 46px 3px $box-shadow-color;
}