{% extends "base.html" %}
{% load cms_tags sekizai_tags compress static %}
{% addtoblock 'css' %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "style/beer_carousel.scss" %}">
    {% endcompress %}
{% endaddtoblock %}

<section class="beercarousel">
    <div class="beercarousel__title">
        <span>nos bières (placeholder)</span>
    </div>
    <div class="beercarousel__container">
        <div class="beercarousel__bottlecontainer">
            <div class="beercarousel__bottle beercarousel__bottle--bottle beercarousel__bottle--active">
                <svg viewBox="0 0 150 420">
                    <!--
                        fill: #96281b;
                  -->
                     <path d="M110,120,100,20V0H50V20L40,120c-22.09,0-40,34.91-40,57V405a15,15,0,0,0,15,15H135a15,15,0,0,0,15-15V177C150,154.91,132.09,120,110,120Z"/>
                </svg>
            </div>
            <div class="beercarousel__bottle beercarousel__bottle--can">
                <!-- can svg -->
            </div>
        </div>
        <div class="beercarousel__beers">
            <div class="beer">
                <div class="beer__image">
                    <img src="https://i.pinimg.com/originals/16/f5/14/16f5140dbb6637c93d3db847f437f4e6.png" alt="placeholder pilsner beer">
                </div>
                <div class="beer__info">
                    <div class="beer__title">
                        <span>la pilsner</span>
                    </div>
                    <div class="beer__details">
                        <div class="beer__detail">
                            <span class="beer__detailname">Alcohol</span>
                            <span class="beer__detailvalue">120%</span>
                        </div>
                        <div class="beer__detail">
                            <span class="beer__detailname">Date</span>
                            <span class="beer__detailvalue">janvier 2000</span>
                        </div>
                        <div class="beer__detail">
                            <span class="beer__detailname">Is a motherfucker to handle</span>
                            <span class="beer__detailvalue">True</span>
                        </div>
                        <div class="beer__detail">
                            <span class="beer__detailname">Temperature</span>
                            <span class="beer__detailvalue">Hella cold</span>
                        </div>
                    </div>
                    <div class="beer__desc">
                        <p>
                            La Page Blanche est une bière de blé traditionnelle bavaroise brassée à l’aide d'une souche de levure allemande, ce qui la distingue par ses arômes de banane et de clou de girofle. Ces saveurs s'harmonisent à merveille avec la texture soyeuse de la bière afin de donner une bière fruitée et rafraîchissante. Elle a d’ailleurs remporté le premier prix à la compétition interuniversitaire brassicole Saveurs De Génie qui a eu lieu en novembre 2016. Vous pouvez visiter notre page Facebook pour obtenir la liste des points de vente.
                        </p>
                    </div>
                </div>
            </div>
            <div class="beer">
                <div class="beer__image">
                    <img src="https://i.pinimg.com/originals/16/f5/14/16f5140dbb6637c93d3db847f437f4e6.png" alt="placeholder pilsner beer">
                </div>
                <div class="beer__info">
                    <div class="beer__title">
                        <span>la bière avec un nom super fuckin long</span>
                    </div>
                    <div class="beer__details">
                        <div class="beer__detail">
                            <span class="beer__detailname">Alcohol</span>
                            <span class="beer__detailvalue">120%</span>
                        </div>
                        <div class="beer__detail">
                            <span class="beer__detailname">Date</span>
                            <span class="beer__detailvalue">janvier 2000</span>
                        </div>
                        <div class="beer__detail">
                            <span class="beer__detailname">Is a motherfucker to handle</span>
                            <span class="beer__detailvalue">True</span>
                        </div>
                        <div class="beer__detail">
                            <span class="beer__detailname">Temperature</span>
                            <span class="beer__detailvalue">Hella cold</span>
                        </div>
                    </div>
                    <div class="beer__desc">
                        <p>
                            La Page Blanche est une bière de blé traditionnelle bavaroise brassée à l’aide d'une souche de levure allemande, ce qui la distingue par ses arômes de banane et de clou de girofle. Ces saveurs s'harmonisent à merveille avec la texture soyeuse de la bière afin de donner une bière fruitée et rafraîchissante. Elle a d’ailleurs remporté le premier prix à la compétition interuniversitaire brassicole Saveurs De Génie qui a eu lieu en novembre 2016. Vous pouvez visiter notre page Facebook pour obtenir la liste des points de vente.
                        </p>
                    </div>
                </div>
            </div>
            <div class="beer">
                <div class="beer__image">
                    <img src="https://i.pinimg.com/originals/16/f5/14/16f5140dbb6637c93d3db847f437f4e6.png" alt="placeholder pilsner beer">
                </div>
                <div class="beer__info">
                    <div class="beer__title">
                        <span>la biêreavecunnomsansespace</span>
                    </div>
                    <div class="beer__details">
                        <div class="beer__detail">
                            <span class="beer__detailname">Alcohol</span>
                            <span class="beer__detailvalue">120%</span>
                        </div>
                        <div class="beer__detail">
                            <span class="beer__detailname">Date</span>
                            <span class="beer__detailvalue">janvier 2000</span>
                        </div>
                        <div class="beer__detail">
                            <span class="beer__detailname">Is a motherfucker to handle</span>
                            <span class="beer__detailvalue">True</span>
                        </div>
                        <div class="beer__detail">
                            <span class="beer__detailname">Temperature</span>
                            <span class="beer__detailvalue">Hella cold</span>
                        </div>
                    </div>
                    <div class="beer__desc">
                        <p>
                            La Page Blanche est une bière de blé traditionnelle bavaroise brassée à l’aide d'une souche de levure allemande, ce qui la distingue par ses arômes de banane et de clou de girofle. Ces saveurs s'harmonisent à merveille avec la texture soyeuse de la bière afin de donner une bière fruitée et rafraîchissante. Elle a d’ailleurs remporté le premier prix à la compétition interuniversitaire brassicole Saveurs De Génie qui a eu lieu en novembre 2016. Vous pouvez visiter notre page Facebook pour obtenir la liste des points de vente.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="beercarousel__controls">
            <div class="beercarousel__button">
                <span class="beercarousel__buttonname">la pilsner</span>
            </div>
            <div class="beercarousel__button">
                <span class="beercarousel__buttonname">la bière avec un nom super fuckin long</span>
            </div>
            <div class="beercarousel__button">
                <span class="beercarousel__buttonname">la biêreavecunnomsansespace</span>
            </div>
        </div>
</section>

{% addtoblock 'js' %}
    {% compress js %}
        <script src="{% static "script/member_banner.js" %}" type="text/javascript" charset="utf-8"></script>
    {% endcompress %}
{% endaddtoblock %}
