{% load cms_tags sekizai_tags compress  static cache_bust %}
{% block style %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "style/member_banner.scss" %}">
    {% endcompress %}
{% endblock %}

{% block content %}
    <section class="member">
        <div class="member__background"></div>
        <div class="member__content row">
            <div class="member__content__container center-xs col-md-6 col-xs-12">
                <div class="box">
                    <h3>
                        <span class="member__content__container__number">{{ member_count }}</span>+ {{ translations.members }}
                    </h3>
                    <div class="member__content__container__description">
                        <span class="member__content__container__description__text">{{ translations.member_description }}</span>
                        <span class="member__content__container__description__link">
                        <a href="{{ details_button_link }}" class="">
                            {{ translations.member_more_detail }}
                        </a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="member__content__image col-md-6 col-xs-0">
                <div class="box">
                    <img src="{{ image.url }}"/>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
