{% load cms_tags sekizai_tags compress  static cache_bust %}
{% addtoblock 'css' %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "style/member_banner.scss" %}">
    {% endcompress %}
{% endaddtoblock 'css' %}

<section class="member">
    <div class="member__background">
        <div class="member__bgContainer"></div>
    </div>
    <div class="member__content  row">
        <div class="member__ctContainer center-xs end-md col-md-6 col-xs-12">
            <div class="box">
                <h3><span
                        class="member__number">{{ member_count }}</span>+ {{ translations.members }}
                </h3>
                <span>{{ translations.member_description }}</span>
                <span>
                    <a href="{{ details_button_link }}" class="button button--white button--large">{{ translations.member_more_detail }}</a>
                </span>
            </div>
        </div>
        <div class="member__imgContainer col-md-6 col-xs-0">
            <div class="box">
                <img src="{{ image.url }}"/>
            </div>
        </div>
    </div>
</section>

{% addtoblock 'js' %}
    {% compress js %}
        <script src="{% static "script/member_banner.js" %}?{% cache_bust %}" type="text/javascript" charset="utf-8"></script>
    {% endcompress %}
{% endaddtoblock %}