{% load sekizai_tags compress  static %}
{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static "css/sponsor_display.css" %}">
{% endcompress %}


<section class="sponsors-module">
    <span class="sponsors-module__title"><h1>Nos commanditaires</h1></span>
    <div class="sponsors-module__container sponsors-module__container__centered">
        {% for category in category_sponsors %}
            <h2 class="sponsors-module__categories">{{category}}</h2>
            <div class="sponsors-module__row">
                {% for sponsor in category.sponsors%}
                    <div class="sponsor-card" onclick = "location.href='{{sponsor.url}}';">
                        <img class="sponsor-card__logo" src={{sponsor.image}} alt={{sponsor.title}}>
                        <div class="sponsor-card__text">
                            <h4>{{sponsor.title}}</h4>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <span class="sponsors-module__title"><h1>Devenir un commanditaire</h1></span>
    <table class="t" onclick = "location.href='https://bit.ly/2SRfAhx';">
        <tr>
            <td class="">&nbsp;</td>
            <td class="t__td t__td--two"><b>Bronze</b></td>
            <td class="t__td t__td--three"><b>Argent</b></td> 
            <td class="t__td t__td--four"><b>Or</b></td>
            <td class="t__td t__td--five"><b>Platine</b></td>
            <td class="t__td t__td--six"><b>Vip</b></td>
        </tr>
        <tr>
            <td class="t__td t__td--one">Avantages de votre appui</td>
            <td class="t__td">499$ et moins</td>
            <td class="t__td">500$ à 1499$</td>
            <td class="t__td">1500$ à 2999$</td>
            <td class="t__td">3000$ à 7499$</td>
            <td class="t__td">7500$ et plus</td>
        </tr>
        <tr>
            <td class="t__td t__td--one">Invitation à la soirée annuelle des commanditaires des clubs</td>
            <td class="t__td"><div class="t__circle"></div></td>
            <td class="t__td"><div class="t__circle"></div></td>
            <td class="t__td"><div class="t__circle"></div></td>
            <td class="t__td"><div class="t__circle"></div></td>
            <td class="t__td"><div class="t__circle"></div></td>
        </tr>
        <tr>
            <td class="t__td t__td--one">Votre logo sur le site web et les bannières du club</td>
            <td class="t__td"><div class="t__circle"></div></td>
            <td class="t__td"><div class="t__circle"></div></td>
            <td class="t__td"><div class="t__circle"></div></td>
            <td class="t__td"><div class="t__circle"></div></td>
            <td class="t__td"><div class="t__circle"></div></td>
        </tr>
        <tr>
            <td class="t__td t__td--one">Une plaque de remerciement</td>
            <td class="t__td">&nbsp;</td>
            <td class="t__td"><div class="t__circle"></div></td>
            <td class="t__td"><div class="t__circle"></div></td>
            <td class="t__td"><div class="t__circle"></div></td>
            <td class="t__td"><div class="t__circle"></div></td>
        </tr>
        <tr>
            <td class="t__td t__td--one">Votre logo sur les chandails du club</td>
            <td class="t__td">&nbsp;</td>
            <td class="t__td">&nbsp;</td>
            <td class="t__td"><div class="t__circle"></div></td>
            <td class="t__td"><div class="t__circle"></div></td>
            <td class="t__td"><div class="t__circle"></div></td>
        </tr>
        <tr>
            <td class="t__td t__td--one">Votre logo sur les bouteilles et verres commémoratifs</td>
            <td class="t__td">&nbsp;</td>
            <td class="t__td">&nbsp;</td>
            <td class="t__td">&nbsp;</td>
            <td class="t__td"><div class="t__circle"></div></td>
            <td class="t__td"><div class="t__circle"></div></td>
        </tr>
        <tr>
            <td class="t__td t__td--one">Remise des curriculums vitae de tous les membres du club</td>
            <td class="t__td">&nbsp;</td>
            <td class="t__td">&nbsp;</td>
            <td class="t__td">&nbsp;</td>
            <td class="t__td"><div class="t__circle"></div></td>
            <td class="t__td"><div class="t__circle"></div></td>
        </tr>
        <tr>
            <td class="t__td t__td--one">Notre participation à un événement corporatif de votre choix</td>
            <td class="t__td">&nbsp;</td>
            <td class="t__td">&nbsp;</td>
            <td class="t__td">&nbsp;</td>
            <td class="t__td">&nbsp;</td>
            <td class="t__td"><div class="t__circle"></div></td>
        </tr>
        <tr>
            <td class="t__td t__td--one">Un brassin sur-mesure à l’image de votre entreprise</td>
            <td class="t__td">&nbsp;</td>
            <td class="t__td">&nbsp;</td>
            <td class="t__td">&nbsp;</td>
            <td class="t__td">&nbsp;</td>
            <td class="t__td"><div class="t__circle"></div></td>
        </tr>
    </table>
    <p class="sponsors-module__link-sponsors">En connaître un peu plus sur le <a href="https://bit.ly/2SRfAhx">plan de commandite de GéniALE</a></p>
</section>
