{% load sekizai_tags compress  static %}
{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static "css/sponsor_display.css" %}">
{% endcompress %}


<section id="sponsors_module">
    <h1 class="sponsorsModule__title">Nos commanditaires</h1>
    <div class="container container_centered">
        {% for category in category_sponsors %}
            <h2 class="categories">{{category}}</h2>
            <div class="row">
                {% for sponsor in category.sponsors%}
                    <div class="sponsor_card" onclick = "location.href='{{sponsor.url}}';">
                        <img class="sponsor_logo" src={{sponsor.image}} alt={{sponsor.title}}>
                        <div class="card_text">
                            <h4><b>{{sponsor.title}}</b></h4>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <h1 class="sponsorsModule__title">Devenir un commanditaire</h1>
    <table onclick = "location.href='https://bit.ly/2SRfAhx';">
        <tr>
            <td>&nbsp;</td>
            <td><b>Bronze</b></td>
            <td><b>Argent</b></td> 
            <td><b>Or</b></td>
            <td><b>Platine</b></td>
            <td><b>Vip</b></td>
        </tr>
        <tr>
            <td>Avantages de votre appui</td>
            <td>499$ et moins</td>
            <td>500$ à 1499$</td>
            <td>1500$ à 2999$</td>
            <td>3000$ à 7499$</td>
            <td>7500$ et plus</td>
        </tr>
        <tr>
            <td>Invitation à la soirée annuelle des commanditaires des clubs</td>
            <td>O</td>
            <td>O</td>
            <td>O</td>
            <td>O</td>
            <td>O</td>
        </tr>
        <tr>
            <td>Votre logo sur le site web et les bannières du club</td>
            <td>O</td>
            <td>O</td>
            <td>O</td>
            <td>O</td>
            <td>O</td>
        </tr>
        <tr>
            <td>Une plaque de remerciement</td>
            <td>&nbsp;</td>
            <td>O</td>
            <td>O</td>
            <td>O</td>
            <td>O</td>
        </tr>
        <tr>
            <td>Votre logo sur les chandails du club</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>O</td>
            <td>O</td>
            <td>O</td>
        </tr>
        <tr>
            <td>Votre logo sur les bouteilles et verres commémoratifs</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>O</td>
            <td>O</td>
        </tr>
        <tr>
            <td>Remise des curriculums vitae de tous les membres du club</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>O</td>
            <td>O</td>
        </tr>
        <tr>
            <td>Notre participation à un événement corporatif de votre choix</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>O</td>
        </tr>
        <tr>
            <td>Un brassin sur-mesure à l’image de votre entreprise</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>O</td>
        </tr>
    </table>
    <p id="link_sponsors">En connaître un peu plus sur le <a href="https://bit.ly/2SRfAhx">plan de commandite de Géni Ale</a></p>

</section>
