{% load sekizai_tags compress  static %}
{% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static "style/team_display.scss" %}">
{% endcompress %}
{% addtoblock "js" %}
    <script type="text/javascript" src="{% static "js/script.js" %}"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
    <script type="text/javascript">
        //Encapsulate javascript inside a function so it's not accessible from the outside #hackerman

        (function () {
            //Data from the backend
            var sponsors = {{ sponsors }};
        })();
    </script>
{% endaddtoblock %}


<div class="sponsorsModule">
    <div class="sponsorsModule__panel sponsorsModule__panel--left">
        <div class="sponsorsModule__teams">
            <h1 class="sponsorsModule__title">Sponsors</h1>
            {% for sponsor in sponsors%}
                <div class="sponsorsModule__team">
                    {{ sponsor.title }}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
