.main-nav {
  display: flex;
  flex: 1;
  background-color: #ecf0f1;
  box-shadow: 0px 4px 8px -1px rgba(108, 122, 137, 0.918);
  height: 64px;

  @include breakpoint(tablet) {
    display: none !important;
  }

  &__content {
    display: flex;
    flex: 1;
  }

  &__languages {
    display: flex;
    align-items: center;
    padding: 1em;

    a {
      color: black;
      font-size: 19px;
      text-decoration: none;
      transition: color 300ms;

      &:hover {
        color: #6C7A89;
      }
    }
  }

  &__items {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

    li.selected > a {
      color: black;
    }

    li:first-of-type {
      margin-left: 0;
    }

    li {
      list-style-type: none;
      margin-left: 30px;
    }

    a {
      color: #6C7A89;
      font-size: 19px;
      text-decoration: none;
      transition: color 300ms;

      &:hover {
        color: black;
      }
    }

  }


  &__logo {
    display: flex;
    justify-content: center;
    margin-left: 45px;

    .logo {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 12px;
      margin-bottom: 12px;

      &__img {
        width: 40px;
        height: 40px;
        margin: 0 auto;
      }

      &__title {
        display: flex;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 900;
        margin-left: 3px;
      }

      &__text {
        font-size: 20px;
        font-weight: 500;

        p {
          margin: 0;
        }
      }
    }
  }
}
