@import "_variables";

/* Global input configuration */

.inputs {
  border-radius: 4px;
  padding: 14px 20px;
  margin: 8px 0;
}

/* Text inputs */

.textInput {
  @extend .inputs;
  width: 100%;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Buttons */
.button {
  border: none;
  cursor: pointer;
  &--primary {
    background-color: $primary;
    color: $font-color-negative;
    &:hover {
      background-color: $primary-hover;
    }
  }
  &--secondary {
    background-color: $secondary;
    &:hover {
      background-color: $secondary-hover;
    }
  }
}

/*Classes assignation to inputs*/

input {
  @extend .inputs;
}

input[type=text], select, textarea {
  @extend .textInput
}

input[type=submit] {
  @extend .button--primary;
}

label {
  font-weight: bold;
}