// Colors
$primary: #D50000;
$primary-hover: #bf0000;
$secondary: #616161;
$secondary-hover: #424242;

$background-color: #f2f2f2;
$font-color: black;
$font-color-negative: white;

// Size
$control-height: 2em;


