@import "_variables";

.header {

  &__content {
    @extend .col-m-10;
    @extend .col-10;
    margin: auto;
    &__title {
      text-transform: uppercase;
      color: black;
      font-weight: bold;
      font-size: $h1;
      text-shadow: 1px 1px $primary,
      2px 2px $primary,
      3px 3px $primary;
      padding: 0 0 0.5em 0;
    }

    &__paragraph {
      text-align: justify;
    }

  }
}