@import "basic/controls";
@import "basic/colors";

.contactForm {
  padding: 20px;

  .errorlist {
    color: $color-primary;
  }

  input[type=submit] {
    width: 100%;
  }

  input {
    @extend .inputs;
  }

  input[type=text], select, textarea {
    @extend .textInput
  }

  input[type=submit] {
    @extend .button--primary;
  }

  &__thanks {

  }
}
