@import "components/sections";
@import "basic/breakpoint";
@import "basic/controls";

.header {
  @extend .section;
  margin: 1em 0;

  &__content {
    @extend .section__content;

    &__title {
      @extend .section__content__title;
      @extend .section__content__title--no-border;
      @extend .title;
      text-transform: uppercase;
      color: black;
      text-shadow: 1px 1px $color-primary, 2px 2px $color-primary, 3px 3px $color-primary;
      padding: 0 0 0.5em 0;
    }
  }
}
