@import "basic/colors";
@import "basic/controls";

.member {
  position: relative;

  &__background {
    width: 100%;
    height: 300px;
    overflow: hidden;
    z-index: -1;
    position: relative;
    background-color: $color-primary;
  }

  &__content {
    height: 300px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    color: $color-foreground-dark;
    text-align: right;
    display: flex;
    //text-shadow: #000 0 0 6px;
    align-items: center;
    margin: 0;

    &__container {
      min-width: calc(50% - 10px);
      justify-content: center;
      //height:300px;

      &__number {
        display: inline-flex;
      }

      &__description {
        display: inline-flex;

        &__text {
          & > * {
            padding: 5px;
          }

          color: $color-foreground;
        }

        &__link {
          margin-left: 5px;

          & > * {
            padding: 5px;
          }

          & a {
            @extend .link;
            color: $color-foreground-dark;
            font-weight: bold;


            &:hover {
              text-shadow: none;
              color: $color-foreground-light;
              background-color: $color-background;
            }
          }
        }
      }
    }

    &__image {
      //min-width: calc(50% - 60px);
      height: 300px;
      justify-content: left;
      padding: 0;
      opacity: 0.5;

      img {
        max-height: 300px;
        width: 100%;
        object-fit: cover;
      }
    }

    &__link {
      @extend .link;
      color: $color-primary-light;

      &:hover {
        text-shadow: #fff 0 0 6px;
      }
    }

    &__description {
      color: black;
    }

    div > h3 {
      font-size: $title-regular;
      font-weight: 900;
      margin: 0;
    }

    div > span {
      display: block;
    }

    div > p {
      display: inline-block;
    }
  }
}
