body{
    background-color: #e1e1e1;
    margin: 0;
}

#text{
    text-align: center;
    margin: auto;
    margin-top: 40px;
    opacity: 0;
    transition: opacity ease 3s;
    font-family: sans-serif;
}

@media screen and (max-width: 600px){
    #text{
        font-size: 0.9em;
        margin-left: 10px;
        margin-right: 10px;
    }
}

#falling_beer{
    margin: auto;
    margin-top: 0;
    top: 0;
    background-color: #F5A510; 
    border-radius: 0 0 10px 10px;
    transition: all ease 0.3s;
}

#pichet{
    width: 200px;
    height: 300px;
    border: 8px rgba(255, 255, 255, 0.603) solid;
    border-bottom: 30px rgba(255, 255, 255, 0.603) solid;
    border-radius: 10px;
    border-top: rgba(255, 255, 255, 0.603) solid 8px;
    background-color: transparent;
    margin: auto;
    position: absolute;
    bottom:0;
    top: 25vh;
    left:0;
    right:0;
    z-index: 2;
}

#pichet:before{
    content: '';
    position: absolute;
    width: 50px;
    height: 150px;
    top: 60px;
    left: -66px;
    border: 8px rgba(255, 255, 255, 0.603) solid;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
}

#beer{
    position: absolute;
    margin: auto;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(145,104,10,1) 0%,rgba(245,165,16,1) 76%,rgb(224, 188, 7) 100%);
}

.logo_geniale{
    width: 60%;
    position: absolute;
    z-index: 2;
    /* Center the logo */
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-bottom: auto;
    margin-top: auto;
    top: 0;
    bottom: 0;
}

.foam_base{
    border-radius: 50%;
    background: white;
    position: absolute;
    z-index: 0;
}

#foam_1{
    width: 55px;
    height: 55px;
    top: -26.5px;
    left: -2px;
}

#foam_2{
    width: 60px;
    height: 60px;
    top: -30px;
    left: 26px;
}

#foam_3{
    width: 50px;
    height: 50px;
    top: -26.5px;
    left: 50px; 
}

#foam_4{
    width: 65px;
    height: 65px;
    top: -32.5px;
    left: 90px; 
}

#foam_5{
    width: 45px;
    height: 45px;
    top: -22.5px;
    left: 120px; 
}

#foam_6{
    width: 65px;
    height: 65px;
    top: -32.5px;
    left: 138px;
}

/* The bubbles are from https://codepen.io/TimRuby/pen/jcLia */

.bubble1 {
    left: 10px;
    -webkit-animation-delay: 1000ms;
    -webkit-animation-duration: 1000ms;
}
  
.bubble2 {
    left: 50px;
    -webkit-animation-delay: 700ms;
    -webkit-animation-duration: 1100ms;
}
  
.bubble3 {
    left: 100px;
    -webkit-animation-delay: 1200ms;
    -webkit-animation-duration: 1300ms;
}
  
.bubble4 {
    left: 130px;
    -webkit-animation-delay: 1100ms;
    -webkit-animation-duration: 700ms;
}
  
.bubble5 {
    left: 170px;
    -webkit-animation-delay: 1300ms;
    -webkit-animation-duration: 800ms;
}

#pichet .bubble {
    -webkit-animation-name: bubble;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    background-color: rgba(255, 255, 255, 0.2);
    bottom: 0;
    border-radius: 10px;
    height: 20px;
    width: 20px;
    position: absolute;
  }
  
  @-webkit-keyframes bubble {
    0% { bottom: 0; }
  
     50% {
       background-color: rgba(255, 255, 255, 0.2);
        bottom: 80px;
     }
  
     100% {
       background-color: rgba(255, 255, 255, 0);
        bottom: 200px;
     }
  }