// Colors
$color-white: #ecf0f1;
$color-black: #111;
$color-gray: #6c7a89;

$color-primary: #f64747;
$color-primary-light: #f1a9a0;
$color-primary-dark: #d2527f;

$color-secondary: #616161;
$color-secondary-light: #6c7a89;
$color-secondary-dark: #424242;

$color-tertiary: '';
$color-tertiary-light: '';
$color-tertiary-dark: '';

$color-foreground: $color-black;
$color-foreground-light: $color-black;
$color-foreground-dark: $color-white;

$color-background: $color-white;
$color-background-dark: #40404f;
$color-background-darker: #25252d;
