// Size
$h1: 3em;
$h2: 2em;
$h3: 1em;
$control-height: 2em;

// Widths
$width-sm: 480px;
$width-md: 720px;
$width-lg: 900px;
$width-xl: 1200px;

// Time
$time-short: 300ms;
$time-normal: 600ms;
$time-long: 1500ms;
