tr:first-child td:nth-child(4){
    background-color: #000000;
    border: solid 2px #a88018;
    color: #a88018;
    transition: 0.5s;
    border-radius: 7px;
    font-size: 1.2em;
}

tr:first-child td:nth-child(4):hover{
    background-color: #806011;
    border: solid 2px #a88018;
    color: #000000;
}

tr:first-child td:nth-child(5){
    background-color: #000000;
    border: solid 2px #a09e9b;
    color: #a09e9b;
    transition: 0.5s;
    border-radius: 7px;
    font-size: 1.2em;
}

tr:first-child td:nth-child(5):hover{
    background-color: #838280;
    border: solid 2px #a09e9b;
    color: black;
    transition: 0.5s;
    border-radius: 7px;
}

tr:first-child td:nth-child(6){
    background-color: #0c0c0b;
    border: solid 2px rgb(39, 63, 136);
    color: rgb(39, 63, 136);
    transition: 0.5s;
    border-radius: 7px;
    font-size: 1.2em;
}

tr:first-child td:nth-child(6):hover{
    background-color: #172a61;
    border: solid 2px rgb(39, 63, 136);
    color: #0c0c0b;
    transition: 0.5s;
    border-radius: 7px;
}

td:not(:first-child){
    text-align: center; 
    vertical-align: middle;
}

table td {
    /* border-left: 1px solid #000; */
    border-right: 0.4px solid rgba(0, 0, 0, 0.267);
}

table td:first-child {
    border-left: none;
}

table td:last-child {
    border-right: none;
}

@media screen and (max-width: 600px) {

    table{
        font-size: 0.8em;
    }

    th, td {
        padding-left: 3px;
        padding-right: 3px;
        padding-top: 7px;
        padding-bottom: 7px;
    }
}