.partners-card {
  display: inline;
  box-shadow: 0px 7px 46px -9px rgba(0, 0, 0, 0.75);
  transition: 0.5s;
  padding: 15px;
  position: relative;
  height: 25vh;
  border-radius: 5px;
  background: white;
}
.partners-card__logo {
  display: block;
  margin: auto;
  max-width: 90%;
  max-height: 90%;
}
.partners-card__text {
  position: absolute;
  bottom: 15px;
  right: 15px;
  left: 15px;
  color: rgba(0, 0, 0, 0.6);
}
@media only screen and (max-width: 600px) {
  .partners-card {
    box-shadow: 0px 7px 46px -9px rgba(0, 0, 0, 0.2);
    height: 20vh;
  }
}
@media only screen and (max-width: 1200px) {
  .partners-card {
    box-shadow: 0px 7px 46px -9px rgba(0, 0, 0, 0.2);
    height: 20vh;
  }
}

.partners-card:hover {
  box-shadow: 0px 7px 46px 3px rgba(0, 0, 0, 0.75);
}

.partners-module {
  width: 58%;
  margin: auto;
}
.partners-module__container {
  display: inline;
  padding-bottom: 20px;
}
@media only screen and (max-width: 600px) {
  .partners-module__container {
    margin-right: 20px;
    margin-left: 20px;
  }
}
.partners-module__row {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 50px;
  margin-bottom: 25px;
}
@media only screen and (max-width: 600px) {
  .partners-module__row {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}
@media only screen and (max-width: 1200px) {
  .partners-module__row {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
}
.partners-module__link-partners {
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .partners-module__link-partners {
    font-size: 0.8em;
    padding-right: 10px;
    padding-left: 10px;
  }
}
.partners-module__categories {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.329);
  font-size: 2em;
}
.partners-module__title {
  margin-left: 25px;
  margin-right: 25px;
}
@media only screen and (max-width: 600px) {
  .partners-module__title {
    font-size: 0.7em;
  }
}
@media only screen and (max-width: 600px) {
  .partners-module {
    width: 100%;
  }
}

.t {
  box-shadow: 0px 7px 46px -9px rgba(0, 0, 0, 0.75);
  transition: 0.5s;
  background: white;
  border-radius: 5px;
  color: rgba(29, 29, 29, 0.726);
  border-collapse: collapse;
}
.t__tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.1);
}
.t__circle {
  background: rgba(0, 0, 0, 0.5);
  width: 20px;
  height: 20px;
  border-radius: 64px;
  margin: auto;
  transition: 0.5s;
  border: 1px solid rgba(0, 0, 0, 0.4);
}
.t__td {
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-right: 0.2px solid rgba(0, 0, 0, 0.09);
}
.t__td:not(:first-child) {
  text-align: center;
  vertical-align: middle;
}
.t__td--one {
  background-color: #950706;
  color: white;
  border-top-left-radius: 5px;
  font-size: 1.2em;
  text-align: center;
}
.t__td--two {
  background-color: #0c0c0b;
  color: #a16528;
  transition: 0.5s;
  font-size: 1.2em;
}
.t__td--two:hover {
  background-color: #6d4319;
  color: #0c0c0b;
}
.t__td--three {
  background-color: #0c0c0b;
  color: #959595;
  transition: 0.5s;
  font-size: 1.2em;
}
.t__td--three:hover {
  background-color: #707070;
  color: #0c0c0b;
}
.t__td--four {
  background-color: #0c0c0b;
  color: #a88018;
  transition: 0.5s;
  font-size: 1.2em;
}
.t__td--four:hover {
  background-color: #806011;
  color: #0c0c0b;
}
.t__td--five {
  background-color: #0c0c0b;
  color: #a09e9b;
  transition: 0.5s;
  font-size: 1.2em;
}
.t__td--five:hover {
  background-color: #838280;
  color: #0c0c0b;
}
.t__td--six {
  background-color: #0c0c0b;
  color: #273f88;
  transition: 0.5s;
  border-top-right-radius: 5px;
  font-size: 1.2em;
}
.t__td--six:hover {
  background-color: #172a61;
  color: #0c0c0b;
}
@media only screen and (max-width: 600px) {
  .t__td {
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 7px;
    padding-bottom: 7px;
  }
}
.t:hover {
  box-shadow: 0px 7px 46px 3px rgba(0, 0, 0, 0.75);
}
@media only screen and (max-width: 600px) {
  .t {
    font-size: 0.7em;
    margin-right: 20px;
    margin-left: 20px;
  }
}
@media only screen and (max-width: 350px) {
  .t {
    font-size: 0.4em;
  }
}

/*# sourceMappingURL=sponsor_display.css.map */
