{% load sekizai_tags compress  static %}
{% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static "style/team_display.scss" %}">
{% endcompress %}
{% addtoblock "js" %}
    <script type="text/javascript" src="{% static "js/script.js" %}"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
    <script type="text/javascript">
        //Encapsulate javascript inside a function so it's not accessible from the outside #hackerman
        var {{ uniqueName }};
        (function () {
            //Data from the backend
            var members = {{ membersAsJson|safe}};
            var teams = {{  teamsAsJson|safe }};
            //Init the required modules with unique identifier
            {{ uniqueName }} = new TeamModuleClass(members, "{{ uniqueName }}");
            var allMembersTeam = {{ uniqueName }}.rootNode.querySelector(".teamModule__team");
            {{ uniqueName }}.setActiveTeam(-1,allMembersTeam);
        })();
    </script>
{% endaddtoblock %}


<div class="teamModule" id="{{ uniqueName }}">
    <div class="teamModule__panel teamModule__panel--left">
        <div class="teamModule__teams">
            <h1 class="teamModule__title">{{ translations.teams_title }}</h1>
            {% for team in teams %}
                <div class="teamModule__team" onclick="{{ uniqueName }}.setActiveTeam({{ team.id }},this)">
                    {{ team.team_name }}
                    <span class="teamModule__team__count">{{ team.members_count }}</span>
                </div>
            {% endfor %}
        </div>

        <div class="teamModule__members">
            <h1 class="teamModule__title">{{ translations.members_title }}</h1>
            <div class="teamModule__memberpanel teamModule__memberpanel--left">
                {% for member in members %}
                    <div class="teamModule__team__member teamModule__team__member{{ member.id }}"
                         onclick="{{ uniqueName }}.setActiveMember({{ member.id }},this)">
                        {{ member.first_name }} {{ member.last_name }}
                    </div>
                {% endfor %}
            </div>
            <div class="teamModule__memberpanel teamModule__memberpanel--right">
                <div class="row">
                    {% for member in members %}
                        <img class="teamModule__memberpanel__icon teamModule__memberpanel__icon{{ member.id }}"
                             src="{{ member.profilePicUrl }}"
                             onclick="{{ uniqueName }}.setActiveMember({{ member.id }},null,this)"/>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="teamModule__panel teamModule__panel--right teamModule__details teamModule--hidden">
        <div>
            <img class="teamModule__details__picture" src=""/>
        </div>
        <div class="teamModule__details__fullname"></div>
        <h4>{{ translations.projects_title }}</h4>
        <div class="teamModule__details__projects"></div>
        <h4>{{ translations.formation_title }}</h4>
        <div class="teamModule__details__formation"></div>
    </div>
</div>
