$beerBottleWidth: 200px;
$time-short: 300ms;
$time-normal: 600ms;
$time-long: 900ms;

section.beercarousel {
    overflow: hidden;

    .beercarousel {

        &__beers {
            display: flex;
            position: relative;
            left: 0;
            transition: left $time-long;

            .beer {
                display: flex;
                width: 100vw;
                justify-content: center;

                &__image {
                    width: 270px;
                    position: relative;

                    span {
                        display: inline-block;
                    }

                    // .beer__imagecontainer
                    &container {
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                        width: 100%;

                        &::after {
                            content: '';
                            display: block;
                        }

                        &--bottle {
                            background-image: url('../image/bottle.svg');

                            &::after {
                                padding-bottom: 235%;
                            }

                            & ~ .beer__imagetagwrapper {
                                width: 84%;
                                top: 42%;
                                left: 8%;
                            }
                        }

                        &--can {
                            background-image: url('../image/can.svg');

                            &::after {
                                padding-bottom: 182%;
                            }

                            & ~ .beer__imagetagwrapper {
                                width: 100%;
                                top: 17%;
                            }
                        }
                    }

                    // .beer__imagetag
                    &tag {
                        width: 900%;
                        height: 100%;
                        background-repeat: repeat no-repeat;
                        position: relative;
                        transition: left $time-long;

                        // .beer__imagetagwrapper (its parent)
                        &wrapper {
                            height: 100%;
                            position: absolute;
                            overflow: hidden;
                        }
                    }
                }

                &__info {
                    width: 600px;
                    left: 90px;
                    opacity: 0;
                    position: relative;
                    padding: 0 30px;
                    box-sizing: border-box;
                    transition: left, opacity;
                    transition-duration: $time-long;
                }

                &__title {
                    font-size: 3em;
                    margin-bottom: 30px;
                }

                &__detail {
                    line-height: 1.5;

                    &name {
                        font-weight: 700;

                        &::after {
                            content: ':';
                        }
                    }

                    &value {

                    }
                }

                &__desc {
                    line-height: 1.5;
                    font-size: 1.2em;

                }


                &--active {
                    & .beer {
                        &__info {
                            left: 0;
                            opacity: 1;
                        }
                    }
                }

                &:not(.beer--active) {
                    & .beer {
                        &__imagetag {
                            left: 0 !important;
                        }
                    }
                }
            }
        }

        &__controls {
            display: flex;
            justify-content: center;
        }

        &__button {
            margin: 0 15px;
            display: block;
            width: 175px;
            background: #D2527F;
            border: none;
            cursor: pointer;
            outline: none;
            position: relative;
            padding: 15px;
            box-sizing: border-box;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #ecf0f1;
            transition: color, background;
            transition-duration: $time-long;

            &name {

            }

            &--active {
                background: #F1A9A0;
                color: #000;
            }
        }
    }
}
