@import "./basic/_flexboxgrid";
@import './basic/_breakpoint.scss';
@import './basic/_colors.scss';
@import './basic/_fonts.scss';

.error_page{
    background-color: #e1e1e1;
    margin: 0;

    &__text{
        text-align: center;
        margin: auto;
        margin-top: 40px;
        opacity: 0;
        transition: opacity ease 3s;
        font-family: sans-serif;
    }
}
