.footer {
  &__row {
    margin: 0;
    background-color: $color-background-dark;
    color: $color-foreground-dark;
    display: flex;
    justify-content: center;
    padding: 33px 0;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: $width-xl;

    a {
      text-decoration: none;
      color: $color-foreground-dark;
    }

    a:hover {
      color: $color-primary;
    }
  }

  &__icon {
    &__text {
      display: inline-block;
      position: absolute;
      line-height: 2em;
      margin-left: 0.5em;
    }
  }

  &__section {
    ul {
      list-style-type: none;
    }

    &__title {
      text-transform: uppercase;
      font-weight: bold;
      font-size: $h2;
      padding-top: 0.5em;
    }

    &__paragraph {
      text-align: justify;
    }

  }
}

.after_footer {
  background-color: $color-background-darker;
  color: $color-foreground-dark;
  text-align: center;
  padding: 1em;
}

