@import "./basic/_variables";
@import "./basic/colors";
@import "./basic/_flexboxgrid";

.footer {
  margin: 0;
  background-color: $dark-background;
  color: $font-color-negative;

  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: #F64747;
  }

  &__icon {
    &__text {
      display: inline-block;
      position: absolute;
      line-height: 2em;
      margin-left: 0.5em;
    }
  }

  &__content {
    @extend .col-xs-10;
    @extend .col-md-10;
    @extend .col-sm-10;
    margin: auto;
  }

  &__section {
    @extend .col-xs-10;
    @extend .col-sm-4;
    @extend .col-md-4;

    &__content {
      @extend .col-xs-10;
      @extend .col-sm-10;
      @extend .col-md-10;
    }

    ul {
      list-style-type: none;
    }

    &__title {
      text-transform: uppercase;
      font-weight: bold;
      font-size: $h2;
      padding-top: 0.5em;
    }

    &__paragraph {
      text-align: justify;
    }

  }
}

.after_footer {
  @extend .footer;
  @extend .col-xs-12;
  @extend .col-sm-12;
  @extend .col-md-12;
  background-color: $darker-background;
  text-align: center;
  padding: 1em;
}

