.footer {
  &__row {
    margin: 0;
    background-color: $color-background-dark;
    color: $color-foreground-dark;
    display: flex;
    justify-content: center;
    padding: 13px 0;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 33px;
    max-width: $width-xl;

    @include breakpoint(tablet) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    a {
      display: flex;
      text-decoration: none;
      color: $color-foreground-dark;

      @include breakpoint(tablet) {
        justify-content: center;
      }
    }

    a:hover {
      color: $color-primary;
    }
  }

  &__section {
  }

  &__icon {
    &__text {
      line-height: 2em;
      margin-left: 0.5em;
    }
  }

  &__section {
    ul {
      list-style-type: none;
    }

    &__title {
      text-transform: uppercase;
      font-weight: bold;
      font-size: $h2;
      padding-top: 0.5em;
    }

    &__paragraph {
      text-align: justify;
    }

  }
}

.after_footer {
  background-color: $color-background-darker;
  color: $color-foreground-dark;
  text-align: center;
  padding: 1em;
}

