.header {
  margin: 1em 0;
  &__content {
    @extend .col-xs-10;
    @extend .col-sm-10;
    @extend .col-md-10;
    margin: auto;
    &__title {
      text-transform: uppercase;
      color: black;
      font-weight: bold;
      font-size: $h1;
      text-shadow: 1px 1px $color-primary,
      2px 2px $color-primary,
      3px 3px $color-primary;
      padding: 0 0 0.5em 0;
    }

    &__paragraph {
      text-align: justify;
    }

  }
}
