@import "./basic/_flexboxgrid";

.projectModule {
    color: black;
    width: 100%;
    padding: 1em;
    &__title {

    }
    &__projects {
        @extend .col-xs-12;
        @extend .col-sm-12;
        @extend .col-md-12;
        display: flex; 
        &__project {
            @extend .col-xs-4;
            @extend .col-sm-4;
            @extend .col-md-4;
            padding: 20px;
            //float: left;
            &__title {
                //float: left;
                width: 100%;
                text-align: center;
            }
            &__picture {
                width: 100%;
                &__img {
                    display: block;
                    max-width: 100%;
                    max-height: 100%;
                    //margin-left: auto;
                    //margin-right: auto;
                    display: block;
                    margin: 0 auto;
                    width: auto;
                    height: auto;
                }
            }
        }
    }
    &__detail {
        @extend .col-xs-10;
        @extend .col-sm-10;
        @extend .col-md-10;
        display: none; //flex
        flex-direction: row;
        position: absolute;
        top: 8%;//calc(10 / 12 * 100%);
        left: 8%;//calc(10 / 12 * 100%);
        width: 80vw;
        height: 80vh;
        background-color: lightgray;
        border-radius: 20px;
        &__title {
            &__h {

            }
        }
        &__picture {
            @extend .col-xs-6;
            @extend .col-sm-6;
            @extend .col-md-6;
            display: none;
            max-height: 100%;
            &__img {
                max-width: 90%;
                max-height: 100%;
                margin: 10px;
                display: block;
                margin: 0 auto;
                width: auto;
                height: auto;
            }
            &__active {
                display: block;
            }
        }
        &__pictures {
            display: flex;
            max-width: 50% !important;
            .owl-stage{
                display: flex;
            }
        }
        &__description {

            &__p {

            }
        }
        &__status {

        }
    }
    &__detail > div {
        flex: 1;
        padding: 1em;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}
.projectModule * {
    box-sizing:border-box;
}

/*
i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.testleft, .testright {
    position: absolute;
    width: 10%;
    height: 100%;
}

.testleft {
    left: 5%;
}

.testright {
    right: 5%;
}

.arrow {
    position: absolute;
    top: 50%;
}

.arrow.left {
    left: 0;
}
.arrow.right {
    right: 0;
}*/
