@import "./basic/_normalize";
@import "./basic/_colors";
@import "./basic/_fonts";
@import "./basic/_partials";
@import "./basic/_breakpoint";
@import "./basic/_flexboxgrid";
@import "./components/_header";
@import "header.scss";
@import "footer.scss";

body {
  background-color: $color-background;
  font-family: $text-font;
  font-size: $text-regular;
  position: relative;
}

.title {
  @extend %title;
  font-size: $title-big;
}

div[class*="button"] {
  cursor: pointer;
}

main {
  padding-top: 3em;
}
