/* to be replaced by   @include breakpoint(tablet) when back to sass */
@media (max-width: 779px) {
  .main-nav {
    display: none !important;
  }
}
.main-nav {
  display: flex;
  flex:1;
  background-color: #ecf0f1;
  box-shadow: 0px 4px 8px -1px rgba(108, 122, 137, 0.918);
}

.main-nav__content {
  display: flex;
  flex:1;
  justify-content: space-between;
}
.main-nav__items {
  display: flex;
  flex:1;
  align-items: flex-end;
  justify-content: center;
}
.main-nav__items li {
  list-style-type: none;
  margin-bottom: 15px;
  margin-left: 30px;
}
.main-nav__items a {
  color:#6C7A89;
  font-size: 19px;
  text-decoration: none;
  transition: color 300ms;
}
.main-nav__items a:hover {
      color: black;
}

.main-nav__logo {
  display: flex;
  /* flex:1; */
  justify-content: center;
  margin-left: 12px;
  margin-right: 12px;
  margin-left: 45px;
}

.logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 12px;

}
.logo__img {
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

.logo__title {
  display: flex;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 900;
  margin-left: 3px;
}

/* .logo__title span:nth-of-type(2) {
  font-weight: 900;
} */

.logo__text {
  font-size: 20px;
  font-weight: 500;
}
.logo__text p {
  margin: 0;
}
