@import "./basic/_normalize";
@import "./basic/_colors";
@import "./basic/_fonts";
@import "./basic/_partials";
@import "./basic/_breakpoint";
@import "./basic/_flexboxgrid";
@import "./basic/_controls";
@import "./components/_header";
@import "./components/_sections";
@import "header.scss";
@import "footer.scss";

body {
  background-color: $color-background;
  font-family: $text-font;
  font-size: $text-regular;
  position: relative;

  // CSS To take the max height and put the footer to the bottom
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.title {
  @extend %title;
  font-size: $title-big;

  @include breakpoint(phone) {
    font-size: $title-regular;
  }
}

div[class*="button"] {
  cursor: pointer;
}

.main {
  flex: 1;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > h1 {
    width: 100%;
    max-width: 900px;
  }
}
