@import "./basic/_variables";
@import "./basic/fonts";

body {
    background-color: $background-color;
    font-family: $text-font;
    font-size: $text-regular;
}

.title {
    @extend %title;
    font-size: $title-big;
}

.button__hamburger {
    &-bar {
        display: block;
        width: 30px;
        height: 3px;
        background: black;

        &:not(:last-child) {
            margin-bottom: 6px;
        }
    }
}
