/* to be replaced by   @include breakpoint(tablet) when back to sass */
@media (max-width: 779px) {
  .main-nav {
    display: none !important;
  }
}
.main-nav {
  display: flex;
  flex:1;
  background-color: #ecf0f1;
  box-shadow: 0px 5px 5px -1px #6C7A89;
}

.main-nav__content {
  display: flex;
  flex:1;
  justify-content: space-between;
}
.main-nav__items {
  display: flex;
  flex:3;
  align-items: center;
  justify-content: space-evenly;
}
.main-nav__items li {
  list-style-type: none;
  margin-bottom: 15px;
  margin-left: 9px;
}
.main-nav__items a {
  color: black;
  font-size: 19px;
  text-decoration: none;
  transition: color 300ms;
}
.main-nav__items a:hover {
      color: #6C7A89;
}

.main-nav__logo {
  display: flex;
  flex:1;
  justify-content: center;
  margin-left: 12px;
  margin-right: 12px;
}

.logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 6px;

}
.logo__img {
    width: 90px;
    height: 90px;
    margin: 0 auto;
}

.logo__title {
  display: flex;
  justify-content: center;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.logo__title span:nth-of-type(2) {
  font-weight: 900;
}

.logo__text {
  font-size: 20px;
  font-weight: 500;
}
.logo__text p {
  margin: 0;
}
