@import "./basic/_colors.scss";
@import "./basic/_breakpoint.scss";

.teamModule {
  height: 100%;
  //background: linear-gradient(-45deg, black 25%, transparent 25%, transparent),linear-gradient(45deg, transparent 75%, black 75%);
  min-height: 460px;
  color: black;
  padding: 1em;

  &__team {
    padding: 0.5em 0;
    color: lightgray;

    &--active {
      color: black;
    }

    &--active > &__count {
      display: inline-block;
    }

    &:hover {
      cursor: pointer;
    }

    &__count {
      color: white !important;
      display: none;
      padding: 0 0.2em;
      background-color: $color-primary-dark;
      border-radius: 0.7em;
      min-width: 25px;
      text-align: center;
      vertical-align: center;
    }

    &__title {

    }

    &__member {
      margin: 8px;
      &--active {
        color: black;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__details {
    /* background-color: white;*/
    color: black;
    padding: 1em;

    &__picture {
      object-fit: cover;
      width: 200px;
      height: 200px;
    }

    &__fullname {
      font-size: 1.5em;
    }

    &__projects {

    }

    &__formation {

    }
    &__sticky {
      @include breakpoint(desktop) {
        position: fixed;
        top:80px;
      }
    }
  }

  &--hidden {
    display: none;
  }

  &--invisible {
    visibility: hidden;
  }

  &__memberpanel {
    vertical-align: top;
    color: lightgray;

    &--avatars {
      display: grid;
      display: -ms-grid;
      -ms-grid-template-columns: -ms-repeat(4, 1fr);
      grid-template-columns: repeat(4, 1fr);
    }

    &__icon {
      object-fit: cover;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      opacity: 0.5;

      &--active {
        opacity: 1.0 !important;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}
