@import "./basic/_colors.scss";
@import "./basic/_breakpoint.scss";

@mixin mobileMemberDetail() {
  position: fixed;
  background-color: $color-background;
  height: 90%;
  width: 90%;
  left: 5%;
  top: 5%;
  border-radius: 1%;
  z-index: 1010;
  overflow-y: auto;
}

.teamModule {
  height: 100%;
  //background: linear-gradient(-45deg, black 25%, transparent 25%, transparent),linear-gradient(45deg, transparent 75%, black 75%);
  min-height: 460px;
  color: black;
  padding: 0.9em;

  &__team {
    padding: 0.5em 0;
    color: lightgray;

    &--active {
      color: black;
    }

    &--active > &__count {
      display: inline-block;
    }

    &:hover {
      cursor: pointer;
    }

    &__count {
      color: white !important;
      display: none;
      padding: 0 0.2em;
      background-color: $color-primary-dark;
      border-radius: 0.7em;
      min-width: 25px;
      text-align: center;
      vertical-align: center;
    }

    &__title {

    }

    &__member {
      margin: 8px;
      &--active {
        color: black;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__details {
    /* background-color: white;*/
    color: black;
    padding: 1em;

    &__section__title{
      display:block;
      font-weight: bold;
      margin: 10px 0 2px 0;
    }

    &__close {
      position: fixed;
      display: none;
      top: 6%;
      right: 10%;
      color: black;
      cursor: pointer;
      z-index: 1020;
      font-size: 3em;
      text-shadow: 1px 1px 2px white, 0 0 25px lightgray, 0 0 5px gray;
      &:hover {
        color: white;
        text-shadow: 1px 1px 2px black, 0 0 25px lightgray, 0 0 5px gray;
      }
    }

    @include breakpoint(phone) {
      @include mobileMemberDetail();

      &__close {
        display: block;
      }
    }

    @include breakpoint(tablet) {
      @include mobileMemberDetail();

      &__close {
        display: block;
      }
    }

    &__blur {
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100vw;
      height: 100vh;
      background-color: $color-background-darker;
      opacity: 0.4;
      z-index: 999;
      display:none;
      @include breakpoint(phone){
        display:block;
      }
      @include breakpoint(tablet){
        display:block;
      }
    }

    &__picture {
      object-fit: cover;
      width: 200px;
      height: 200px;
      padding: 15px 0;
      border-radius: 6px;
    }

    &__fullname {
      font-size: 1.5em;
    }

    &__projects {

    }

    &__formation {

    }
    &__sticky {
      @include breakpoint(desktop) {
        position: fixed;
        top:130px;
        padding-right: 2em;
      }
    }
  }

  &--hidden {
    display: none;
  }

  &--invisible {
    visibility: hidden;
  }

  &__memberpanel {
    vertical-align: top;
    color: lightgray;

    &--avatars {
      display: grid;
      display: -ms-grid;
      -ms-grid-template-columns: -ms-repeat(4, 1fr);
      grid-template-columns: repeat(4, 1fr);
    }

    &__icon {
      object-fit: cover;
      width: 100px;
      height: 100px;
      border-radius: 50%;

      &--active {
        border: 5px solid $color-primary;
        box-sizing: border-box;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}

body.modal-open {
  @include breakpoint(phone) {
    overflow: hidden;
    height: 100vh;
  }
  @include breakpoint(tablet) {
    overflow: hidden;
    height: 100vh;
  }
}
