{% load cms_tags menu_tags sekizai_tags compress static cache_bust %}
<!doctype html>
<html>
<head>
    <title>{% block title %}This is my new project home page{% endblock title %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "style/style.scss" %}"/>
    {% endcompress %}
    <link rel="stylesheet" type="text/css" href="{% static "lib/owlcarousel/assets/owl.carousel.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "lib/owlcarousel/assets/owl.theme.default.min.css" %}">

    {% block style %}{% endblock %}
    {% render_block "css" %}
</head>
<body>
{% cms_toolbar %}
<header>
    {% block header %}
        <nav class="site-nav" role="navigation">
            {% include "nav.html" %}
            <div class="mobile-nav--fullscreen">
                <div class="mobile-nav__container">
                    <div class="mobile-nav__logo">
                        <img src="{% static "image/logo.png" %}" alt="GeniALE logo" class="logo__img">
                        <div class="logo__title">
                            <span>Géni</span>
                            <span>ALE</span>
                        </div>
                        <div class="logo__text">
                            <p>développement</p>
                            <p>brassicole</p>
                        </div>
                    </div>
                    {% show_menu 0 0 %}
                </div>
            </div>
        </nav>
        <div class="menu">
            <!-- <div class="logo">
                <a href="">
                    <img class="logo__img" src="http://logo.geniale.ca" alt="">
                    <div class="logo__text">
                        <span>Géni</span><span>ALE</span>
                    </div>
                </a>
            </div> -->

            <div class="button__hamburger">
                <span class="button__hamburger-bar"></span>
                <span class="button__hamburger-bar"></span>
                <span class="button__hamburger-bar"></span>
                <span class="button__hamburger-bar button__hamburger-bar--close"></span>
                <span class="button__hamburger-bar button__hamburger-bar--close"></span>
            </div>
        </div>
    {% endblock %}
</header>
<main class="main">
    {% block content %}{% endblock %}
</main>

{% include "footer.html" %}
<script src="{% static "lib/jquery/jquery-3.4.0.min.js" %}"></script>
<script src="{% static "lib/jquery/jquery-ui.min.js" %}"></script>
<script src="{% static "lib/jquery/jquery.ui.touch-punch.min.js" %}"></script>
<script src="{% static "lib/owlcarousel/owl.carousel.min.js" %}"></script>

{% render_block "scripts" %}
{% render_block "js" %}
{% compress js %}
    <script src="{% static "script/base.js" %}?{% cache_bust %}" type="text/javascript" charset="utf-8"></script>
{% endcompress %}
{% block scripts %}{% endblock %}
</body>
</html>
