{% extends "base.html" %}
{% load cms_tags sekizai_tags compress static %}

{% block content %}
    <span class="title">GeniALE</span>
    <div class="header">
        <div class="header__content">
            <div class="header__content__title">Notre mission</div>

            <div class="header__content__paragraph">Out of the 12oz bottle, the beer pours a bright, rich amber colored
                brew, tainted by a touch of haze and topped with an appealing two-finger, white, creamy foam head.
                Fresh, powdery grist, some must, and hints of fruity esters in the nose. Near medium in body, relatively
                smooth on the palate, but a scrubbing carbonation breaks things up. Crisp, for a moment. Raw leafy hop
                tannic feel on the palate segues to a thin, watery, citric-like bitterness. Mineral flavors come to
                play. Malt flavors seem a bit masked at first, but there&#39;s a malt presence that provides some
                backing for everything else, with some apple-y fruitiness beneath. That said, as the beer warms a round
                and sweet caramel and toasty malty note emerges, along with some earthy and woody suggestions, but alas
                it&#39;s towards the end of the beer. Finishes dry with a mineral linger and sweet edges.
            </div>
        </div>
    </div>

    <div class="footer row">
        <div class="footer__content">
            <div class="row">
                <div class="footer__section">
                    <div class="footer__section__title">
                        Addresse
                    </div>
                    <p>
                        ÉTS Montréal (Local A-1243)
                    </p>
                    <p>
                        1100 Rue Notre-Dame Ouest
                    </p>
                    <p>
                        Montréal, QC 2C3 E50
                    </p>
                </div>

                <div class="footer__section">
                    <div class="footer__section__title">
                        Nous contacter
                    </div>
                    <p>
                        <a href="mailto:geniale@etsmtl.net">
                            <i class="fas fa-envelope fa-2x"></i>
                            <span class="footer__icon__text">geniale@etsmtl.net</span>
                        </a>
                    </p>
                    <p>
                        <a href="tel:+15141231324">
                            <i class="fas fa-phone fa-2x"></i>
                            <span class="footer__icon__text">1-514-123-1324</span>
                        </a>
                    </p>
                    <p>
                        <a href="https://goo.gl/maps/1bPEuzUbRWK2"><i class="fas fa-building fa-2x"></i>
                            <span class="footer__icon__text">ÉTS Montréal</span>
                        </a>
                    </p>
                </div>

                <div class="footer__section">
                    <div class="footer__section__title">Réseaux sociaux</div>
                    <p>
                        <a href="https://www.facebook.com/genialeets/"><i class="fab fa-facebook fa-2x"></i>
                            <span class="footer__icon__text">Facebook</span>
                        </a>
                    </p>
                    <p>
                        <a href="https://www.instagram.com/geniale_ets/"><i class="fab fa-instagram fa-2x"></i>
                            <span class="footer__icon__text">Instagram</span>
                        </a>
                    </p>
                    <p>
                        <a href="http://evenements.etsmtl.ca/saveurs-de-genie/"><i class="fas fa-beer fa-2x"></i>
                            <span class="footer__icon__text">Saveurs de Génie</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="after_footer">
        Copyright © GéniAle 2018
    </div>
{% endblock %}
