{% extends "base.html" %}
{% load cms_tags compress static %}
{% block style %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "style/landing.scss" %}">
    {% endcompress %}
{% endblock %}

{% block content %}
    <span class="title">GeniALE</span>
    <section class="member">
        <div class="member__background">
            <div class="member__bgContainer"></div>
        </div>
        <div class="member__content">
            <div class="member__ctContainer">
                <h3><span class="member__number">{% placeholder "member_number" %}</span>+ {% placeholder "member" %}</h3>
                <span>{% placeholder "member_desc" %}</span>
                <span>
                    <a href="." class="button button--white button--large">{% placeholder "member_button" %}</a>
                </span>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    {% compress js %}
        <script src="{% static "script/landing.js" %}" type="text/javascript" charset="utf-8"></script>
    {% endcompress %}
{% endblock %}
