{% load sekizai_tags compress  static %}

{% addtoblock 'css' %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "style/sponsors.scss" %}">
    {% endcompress %}
{% endaddtoblock %}

<section class="partners-module">
    <span class="partners-module__title">Nos commanditaires</span>
    <div class="partners-module__container partners-module__container">
        {% for category in category_sponsors %}
            <h2 class="partners-module__categories">{{category}}</h2>
            <div class="partners-module__row">
                {% for sponsor in category.sponsors%}
                    <div class="partners-card" onclick = "location.href='{{sponsor.url}}';">
                        <img class="partners-card__logo" src={{sponsor.image}} alt={{sponsor.title}}>
                            <span class="partners-card__text">{{sponsor.title}}</span>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <span class="partners-module__title">Devenir un commanditaire</span>
    <table class="t" onclick = "location.href='https://bit.ly/2SRfAhx';">
        <tr class="t__tr">
            <td class="t__td t__td--one">Avantages de votre appui</td>
            <td class="t__td t__td--two"><b>Bronze</b></td>
            <td class="t__td t__td--three"><b>Argent</b></td>
            <td class="t__td t__td--four"><b>Or</b></td>
            <td class="t__td t__td--five"><b>Platine</b></td>
            <td class="t__td t__td--six"><b>Vip</b></td>
        </tr>
        <tr class="t__tr">
            <td class="t__td">Montant de la commandite</td>
            <td class="t__td">499$ et moins</td>
            <td class="t__td">500$ à 1499$</td>
            <td class="t__td">1500$ à 2999$</td>
            <td class="t__td">3000$ à 7499$</td>
            <td class="t__td">7500$ et plus</td>
        </tr>
        <tr class="t__tr">
            <td class="t__td">Invitation à la soirée annuelle des commanditaires des clubs</td>
            <td class="t__td"><div class="t__circle"></div></td>
            <td class="t__td"><div class="t__circle"></div></td>
            <td class="t__td"><div class="t__circle"></div></td>
            <td class="t__td"><div class="t__circle"></div></td>
            <td class="t__td"><div class="t__circle"></div></td>
        </tr>
        <tr class="t__tr">
            <td class="t__td">Votre logo sur le site web et les bannières du club</td>
            <td class="t__td"><div class="t__circle"></div></td>
            <td class="t__td"><div class="t__circle"></div></td>
            <td class="t__td"><div class="t__circle"></div></td>
            <td class="t__td"><div class="t__circle"></div></td>
            <td class="t__td"><div class="t__circle"></div></td>
        </tr>
        <tr class="t__tr">
            <td class="t__td">Une plaque de remerciement</td>
            <td class="t__td">&nbsp;</td>
            <td class="t__td"><div class="t__circle"></div></td>
            <td class="t__td"><div class="t__circle"></div></td>
            <td class="t__td"><div class="t__circle"></div></td>
            <td class="t__td"><div class="t__circle"></div></td>
        </tr>
        <tr class="t__tr">
            <td class="t__td">Votre logo sur les chandails du club</td>
            <td class="t__td">&nbsp;</td>
            <td class="t__td">&nbsp;</td>
            <td class="t__td"><div class="t__circle"></div></td>
            <td class="t__td"><div class="t__circle"></div></td>
            <td class="t__td"><div class="t__circle"></div></td>
        </tr>
        <tr class="t__tr">
            <td class="t__td">Votre logo sur les bouteilles et verres commémoratifs</td>
            <td class="t__td">&nbsp;</td>
            <td class="t__td">&nbsp;</td>
            <td class="t__td">&nbsp;</td>
            <td class="t__td"><div class="t__circle"></div></td>
            <td class="t__td"><div class="t__circle"></div></td>
        </tr>
        <tr class="t__tr">
            <td class="t__td">Remise des curriculums vitae de tous les membres du club</td>
            <td class="t__td">&nbsp;</td>
            <td class="t__td">&nbsp;</td>
            <td class="t__td">&nbsp;</td>
            <td class="t__td"><div class="t__circle"></div></td>
            <td class="t__td"><div class="t__circle"></div></td>
        </tr>
        <tr class="t__tr">
            <td class="t__td">Notre participation à un événement corporatif de votre choix</td>
            <td class="t__td">&nbsp;</td>
            <td class="t__td">&nbsp;</td>
            <td class="t__td">&nbsp;</td>
            <td class="t__td">&nbsp;</td>
            <td class="t__td"><div class="t__circle"></div></td>
        </tr>
        <tr class="t__tr">
            <td class="t__td">Un brassin sur-mesure à l’image de votre entreprise</td>
            <td class="t__td">&nbsp;</td>
            <td class="t__td">&nbsp;</td>
            <td class="t__td">&nbsp;</td>
            <td class="t__td">&nbsp;</td>
            <td class="t__td"><div class="t__circle"></div></td>
        </tr>
    </table>
    <p class="partners-module__link-partners">En connaître un peu plus sur le <a href="https://bit.ly/2SRfAhx">plan de commandite de GéniALE</a></p>
</section>
