{% load sekizai_tags compress  static %}
{% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static "css/projectDisplay.scss" %}">
{% endcompress %}
{% addtoblock "js" %}
    <script type="text/javascript" src="{% static "js/script.js" %}"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
    <script type="text/javascript">
        
    </script>
{% endaddtoblock %}

<section class="projectModule" id="uniqueName">
    <div class="projectModule__title">
        Our Projects
    </div>
    <div class="projectModule__projects">
        {% for project in projects %}
        <div class="projectModule__projects__project">
            <div class="projectModule__projects__project__title">
                <h2>{{ project.project_name }}</h2>
                {{ project.description }} <br>
                {{ project.status }}
            </div>
            <div class="projectModule__projects__project__picture">
                <img alt="project image">
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="projectModule__detail">
        <div class="projectModule__detail__title">
            <h2 class="projectModule__detail__title__h">Project title</h2>
        </div>
        <div class="projectModule__detail__picture">
            <img alt="project image" class="projectModule__detail__picture__img">
        </div>
        <div class="projectModule__detail__description">
            <p class="projectModule__detail__description_p"></p>
        </div>
    </div>
</section>
    