{% load sekizai_tags compress static %}
{% load i18n %}
{% addtoblock "css" %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "style/project_display.scss" %}">
    {% endcompress %}
{% endaddtoblock %}
{% addtoblock "js" %}
    <script type="text/javascript" src="{% static "js/project.js" %}"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
    <script type="text/javascript">
        //Encapsulate javascript inside a function so it's not accessible from the outside
        var {{ uniqueName }};
        (function () {
            //Data from the backend
            var projects = {{ projectsAsJson|safe}};
            //Init the required modules with unique identifier
            {{ uniqueName }} = new ProjectModuleClass(projects, "{{ uniqueName }}");
        })();

    </script>
{% endaddtoblock %}




<section class="projectModule row" id="{{ uniqueName }}">

    <h1 class="projectModule__title">
        {{ translations.projects_title }}
    </h1>
    <div class="projectModule__projects">
        {% if projects %}
            {% for project in projects %}
            <div class="projectModule__projects__project" onclick="{{ uniqueName }}.setActiveProject({{project.id}})">
                <div class="projectModule__projects__project__title">
                    {{ project.name }}
                </div>
                <div class="projectModule__projects__project__picture">
                    {% if project.images %}
                    <img class="projectModule__projects__project__picture__container" style="background-image:url('{{ project.images.all.0 }}')">
                    {% else %}
                    no picture
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        {% else %}
            No Projects To Show
        {% endif %}
    </div>

    <div class="projectModule__detail__blur" style="display: none;" onclick="{{ uniqueName }}.closeModal()"></div>
    <div class="projectModule__detail row" tabindex="10000">
        <!--<div class="projectModule__detail__close" onclick="{{ uniqueName }}.closeModal()">X</div>-->
        <div class="projectModule__detail__pictures owl-carousel owl-theme">
            {% comment %}
            {# This is an example of the html that is generated in js #}
            <div class="projectModule__detail__picture">
                <img alt="project image" class="projectModule__detail__picture__container">
            </div>
            {% endcomment %}
        </div>


        <div class="projectModule__detail__right">
            <div class="projectModule__detail__title">
                <h2 class="projectModule__detail__title__container"> {{ translations.project_title }}</h2>
            </div>

            <div class="projectModule__detail__description">
              <h4> {{ translations.project_description_title }} </h4>
                <div class="projectModule__detail__description__container"></div>
            </div>
            <div class="projectModule__detail__status">
                <h4> {{ translations.project_status_title }} </h4>
                <div class="projectModule__detail__status__container"></div>
            </div>
            <div class="projectModule__detail__link">
                <h4> {{ translations.project_website_title }} </h4>
                <a href="" class="projectModule__detail__link__container" target="blank"/>
            </div>
      </div>
    </div>
</section>
