{% load sekizai_tags compress  static %}
{% addtoblock "css" %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "style/project_display.scss" %}">
    {% endcompress %}
{% endaddtoblock %}
{% addtoblock "js" %}
    <script type="text/javascript" src="{% static "js/project.js" %}"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
    <script type="text/javascript">
        //Encapsulate javascript inside a function so it's not accessible from the outside #hackerman
        var {{ uniqueName }};
        (function () {
            //Data from the backend
            var projects = {{ projectsAsJson|safe}};
            //Init the required modules with unique identifier
            {{ uniqueName }} = new ProjectModuleClass(projects, "{{ uniqueName }}");
            //var allMembersTeam = {{ uniqueName }}.rootNode.querySelector(".teamModule__team");
            //{{ uniqueName }}.setActiveTeam(-1,allMembersTeam);
        })();

    </script>
{% endaddtoblock %}




<section class="projectModule row" id="{{ uniqueName }}">

  <div class="col-xs-0 col-sm-0 col-md-1 col-lg-1"></div>
      <h1 class="projectModule__title">
        {{ translations.projectModule__title }}
          Our Projects
      </h1>
    <div class="projectModule__projects">
        {% if projects %}
            {% for project in projects %}
            <div class="projectModule__projects__project" onclick="{{ uniqueName }}.setActiveProject({{project.id}})">
                <div class="projectModule__projects__project__title">
                    {{ project.name }}
                </div>
                <div class="projectModule__projects__project__picture">
                    {% if project.images %}
                    <img alt="project image" class="projectModule__projects__project__picture__img" src="{{ project.images.all.0 }}">
                    {% else %}
                    no picture
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        {% else %}
            No Projects
        {% endif %}
    </div>


    <div class="projectModule__detail" tabindex="10000" onblur="{{ uniqueName }}.onBlurDetail()" onfocus="console.log('focus')">

        <div class="projectModule__detail__pictures owl-carousel owl-theme">
            <!--<div class="projectModule__detail__picture">
                <img alt="project image" class="projectModule__detail__picture__img">
            </div>-->
        </div>


        <div class="projectModule__detail__right">
            <div class="projectModule__detail__title">
                <h2 class="projectModule__detail__title__h">Project title</h2>
            </div>

            <div class="projectModule__detail__description">
              <h4> Description </h4>
                <p class="projectModule__detail__description_p"></p>
            </div>
            <h4> Status </h4>
            <div class="projectModule__detail__status">
            </div>
            <div class="projectModule__detail__link">
                <h4> Website </h4>
                <a href="" class="projectModule__detail__link__a" />
            </div>
      </div>
    </div>
</section>
