{% load sekizai_tags compress  static %}
{% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static "css/teamDisplay.scss" %}">
{% endcompress %}
{% addtoblock "js" %}
    <script type="text/javascript" src="{% static "js/script.js" %}"></script>{% endaddtoblock %}
{% addtoblock "js" %}
    <script type="text/javascript">
        //Data from the backend
        var members = {{ membersAsJson|safe}};
        var teams = {{  teamsAsJson|safe }};
        //Init the required modules
        var teamModule = new TeamModuleClass(members)
        teamModule.setActiveTeam(-1);
    </script>
{% endaddtoblock %}


<div class="teamModule">
    <div class="teamModule__panel teamModule__panel--left">
        <div class="teamModule__teams">
            <h1 class="teamModule__title">Our Teams</h1>
            {% for team in teams %}
                <div class="teamModule__team" id="{{ prefix }}Team{{ team.id }}"
                     onclick="teamModule.setActiveTeam({{ team.id }})">
                    {{ team.team_name }}
                    <span class="teamModule__team__count">{{ team.members_count }}</span>
                </div>
            {% endfor %}
        </div>

        <div class="teamModule__members">
            <h1 class="teamModule__title">Members</h1>
              <div class="teamModule__memberpanel teamModule__memberpanel--left">
                  {% for member in members %}
                      <div id="{{ prefix }}Member{{ member.id }}" class="teamModule__team__member"
                           onclick="teamModule.setActiveMember({{ member.id }})">
                          {{ member.first_name }} {{ member.last_name }}
                      </div>
                  {% endfor %}
            </div>
            <div class="teamModule__memberpanel teamModule__memberpanel--right">
                <div class="row">
                    {% for member in members %}
                        <img id="{{ prefix }}MemberIcon{{ member.id }}" class="teamModule__memberpanel__icon" src="{{ member.profilePicUrl }}"
                            onclick="teamModule.setActiveMember({{ member.id }})"/>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div id="{{ prefix }}details__current" class="teamModule__panel teamModule__panel--right {{ prefix }}details teamModule--hidden">
        <div>
            <img id="{{ prefix }}MemberDetailProfilePicture" class="teamModule__details__picture" src=""/>
        </div>
        <div id="{{ prefix }}MemberDetailFullName"></div>
        <h4>Projects</h4>
        <div id="{{ prefix }}MemberDetailProjects"></div>
        <h4>Formation</h4>
        <div id="{{ prefix }}MemberDetailFormation"></div>
    </div>
</div>
