{% load sekizai_tags compress static %}
{% block style %}
    {% compress css %}
      <link rel="stylesheet" type="text/x-scss" href="{% static "style/style.scss" %}">
      <link rel="stylesheet" type="text/x-scss" href="{% static "style/modules/orchester.scss" %}">
    {% endcompress %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css">
{% endblock %}

{% block script %}
  <script src="{% static "lib/jquery/jquery-3.4.0.min.js" %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
{% endblock %}

<div class="orchester">
    {% block orchester_content %}
    {% endblock %}
</div>



