{% extends 'orchester/base.html' %}
{% load static %}

{% block orchester_content %}

  <div class="loading">
    <div class="loading__image">
    </div>
  </div>

  <div>
    <ul class="breadcrumb">
      <li><a href="{% url "orchester:index" %}">Members</a></li>
      <li>{{ member.email }}</li>
    </ul>
  </div>

  <h2>Services</h2>

  {% if error_message %}
    <div class="alert alert--error">
      <strong>Error:</strong>
      {{ error_message }}
    </div>
  {% endif %}

  <div id="orchesterTable" style="height: 100%;width:100%;" class="ag-theme-balham"></div>

  <script type="text/javascript" charset="utf-8">
    var unregisterUrl = "{% url 'orchester:unregister' member.id %}";
    var registerUrl = "{% url 'orchester:register' member.id %}";

    var columnsDef = [
      {
        field: "displayName",
      },
      {
        field: "username"
      }, {
        field: "status"
      },
      {
        field: "actions",
        suppressSizeToFit:true,
        cellRenderer: function (params) {
          return params.data.status
            ? [
              '<form class="orchester__edit__buttonForm" action="' + unregisterUrl + '" method="post">',
              '<input type="hidden" name="connector_name" value="' + params.data.name + '" />',
              "{% csrf_token %}",
              '<input type="submit" class="button--primary" value="Unregister"/>',
              '</form',
            ].join('')
            : [
              '<form class="orchester__edit__buttonForm" action="' + registerUrl + '" method="post">',
              '<input type="hidden" name="connector_name" value="' + params.data.name + '" />',
              "{% csrf_token %}",
              '<input type="submit" class="button--primary" value="Register"/>',
              '</form',
            ].join('');
        }
      }
    ];
    $(document).ready(function () {

      // let the grid know which columns and what data to use
      var gridOptions = {
        defaultColDef: {
          filter: true,
          sortable: true,
          resizable: true
        },
        domLayout: 'autoHeight',
        columnDefs: columnsDef,
        rowData: {{ service_info|safe }},
        onFirstDataRendered: function () {
          $(".orchester__edit__buttonForm").submit(function () {
            $(".loading").addClass("loading--visible");
          });
        }
      };

      // lookup the container we want the Grid to use
      var eGridDiv = document.querySelector('#orchesterTable');

      // create the grid passing in the div to use together with the columns & data we want to use
      new agGrid.Grid(eGridDiv, gridOptions);
    });
  </script>
{% endblock %}


