{% extends 'orchester/base.html' %}
{% load static %}

{% block orchester_content %}

  <div>
    <ul class="breadcrumb">
      <li>Members</li>
    </ul>
  </div>

  <h1 class="">Members</h1>

  <p class="alert alert--info">
    Click on a row to edit a member
  </p>

  <div id="orchesterTable" style="height: 100%;width:100%;" class="ag-theme-balham"></div>

  <script type="text/javascript" charset="utf-8">
    $(document).ready(function () {

      // let the grid know which columns and what data to use
      var gridOptions = {
        defaultColDef: {
          filter: true,
          sortable: true
        },
        domLayout: 'autoHeight',
        columnDefs: {{ memberColumnsDef|safe }},
        rowData: {{ memberList|safe }},
        onRowClicked: function (event) {
          window.location.href = "{% url 'orchester:index' %}" + event.data.id;
        }
      };

      // lookup the container we want the Grid to use
      var eGridDiv = document.querySelector('#orchesterTable');

      // create the grid passing in the div to use together with the columns & data we want to use
      new agGrid.Grid(eGridDiv, gridOptions);
    });
  </script>
{% endblock %}
