{% extends 'orchester/base.html' %}
{% load static %}

{% block orchester_content %}

  <div class="loading">
    <div class="loading__image">
    </div>
  </div>

  <div>
    <ul class="breadcrumb">
      <li>Members</li>
    </ul>
  </div>

  <h1 class="">Members</h1>

  <p class="alert alert--info">
    Click on a row to edit a member
  </p>

  <p>
    <label>Show active members only: <input type="checkbox" checked="true" onclick="externalFilterChanged();"/></label>
  </p>

  <div id="orchesterTable" style="height: 100%;width:100%;" class="ag-theme-balham"></div>

  <script type="text/javascript" charset="utf-8">
    var filterIsActiveDefault = true;
    // External filters
    var filterIsActive = filterIsActiveDefault;

    // let the grid know which columns and what data to use
    var gridOptions = {
      defaultColDef: {
        filter: true,
        sortable: true
      },
      domLayout: 'autoHeight',
      animateRows: true,
      columnDefs: {{ memberColumnsDef|safe }},
      rowData: {{ memberList|safe }},
      onRowClicked: function (event) {
        $(".loading").addClass("loading--visible");
        window.location.href = "{% url 'orchester:index' %}" + event.data.id;
      },
      isExternalFilterPresent: isExternalFilterPresent,
      doesExternalFilterPass: isActiveFilter
    };

    function isExternalFilterPresent() {
      return filterIsActive;
    }

    function isActiveFilter(node) {
      if (!node.data.date_left) {
        return true;
      }

      try {
        var date = new Date(node.data.date_left);
        return date.getTime() > new Date().getTime();
      } catch (err) {
        console.warn("Error parsing filter date: ", err);
      }
      return false;
    }

    function externalFilterChanged() {
      filterIsActive = !filterIsActive;
      gridOptions.api.onFilterChanged();
    }

    $(document).ready(function () {
      // lookup the container we want the Grid to use
      var eGridDiv = document.querySelector('#orchesterTable');

      // create the grid passing in the div to use together with the columns & data we want to use
      new agGrid.Grid(eGridDiv, gridOptions);
    });
  </script>
{% endblock %}
