@import "colors";
@import "fonts";
@import "breakpoint";

/* Global input configuration */

.inputs {
  border-radius: 4px;
  padding: 14px 20px;
  margin: 8px 0;
}

/* Text inputs */

.textInput {
  @extend .inputs;
  width: 100%;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Paragraph */
.paragraph {
  margin: auto;
  text-align: justify;
  line-height: 1.5em;
  max-width: 600px;
}

/* Buttons */
.button {
  border: none;
  cursor: pointer;

  &--primary {
    background-color: $color-primary;
    color: $color-foreground-dark;

    &:hover {
      background-color: $color-primary-dark;
    }
  }

  &--secondary {
    background-color: $color-secondary;

    &:hover {
      background-color: $color-secondary-dark;
    }
  }
}

.title {
  @extend %title;
  font-size: $title-regular;

  @include breakpoint(phone) {
    font-size: $title-small;
  }
}

.link {
  text-decoration: none;
  color: $color-primary;

  &:hover {
    text-shadow: #000 0 0 6px;;
  }
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;

  &--success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
}

/*Classes assignation to inputs*/

input {
  @extend .inputs;
}

input[type=text], select, textarea {
  @extend .textInput
}

input[type=submit] {
  @extend .button--primary;
}

label {
  font-weight: bold;
}
