@import url('https://fonts.googleapis.com/css?family=Heebo:500,500i,700,700i,900,900i');
@import url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/css/rawline.css');
// Text font
$text-font: 'rawline', arial, sans-serif;
$text-regular: 15px;
$text-small: .8em;
$text-big: 1.2em;

// Title font
$title-font: 'rawline', 'Arial', 'Ubuntu', sans-serif;
$title-big: 4.8em;
$title-regular: 4em;
$title-small: 2.4em;

%text {
  font-family: $text-font;
  font-weight: 500;
}

%title {
  font-family: $title-font;
  font-weight: 900;
}
